<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Libre Barcode 39' rel='stylesheet'>
<style>
body {
    font-family: 'Libre Barcode 39';font-size: 22px;
}
</style>
</head>
<body>


<p>
    Refrain 1 (A1)
    Line 2 (b)
    Refrain 2 (A2)
    Line 4 (a)
    Line 5 (b)
    Refrain 1 (A1)
    Line 7 (a)
    Line 8 (b)
    Refrain 2 (A2)
    Line 10 (a)
    Line 11 (b)
    Refrain 1 (A1)
    Line 13 (a)
    Line 14 (b)
    Refrain 2 (A2)
    Line 16 (a)
    Line 17 (b)
    Refrain 1 (A1)
    Refrain 2 (A2)
</p>


</body>
</html>