a,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.profile {
  color: black;
}

#container-box {
  margin: 50px 0px;
}

#left-box {
  min-width: 290px;
}

#navbar,
#masthead,
#footer,
.ui.menu.fixed {
  background-color: #ffffff;
}

#navbar,
.ui.secondary.pointing.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 10 !important;
  background-color: #ffffff;
}

.ui.menu.fixed {
  background-color: #ffffff !important;
}

.ui.center.aligned.header {
  color: #000000;
}

.ui.segment {
  background-color: #ffffff;
}

.ui.inverted.button {
  background-color: #873cdd;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.ui.inverted.segment .segment {
  color: #b6abb7;
}



/* LOGO ICON */
.fas {
  color: #873cdd;
  font-size: 50px;
}

.ui .card {
  width: 100%;
  text-align: left;
  background-color: #fdfdfd !important;
}

.fa-window-close {
  color: #873cdd;
}

.fa-window-close:hover {
  color: #873cdd;
  cursor: pointer;
  transform: scale(1.1);
}

#logo-nav {
  padding-right: 15px;
}

#logo-nav:hover {
  color: #000000;
}

#logo-follow {
  padding-right: 15px;
}

#logo-follow:hover {
  color: #4e2152;
}


#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

@media only screen and (max-width: 770px) {
  #masthead {
    margin-bottom: 380px;
  }
}



#wayfarer-title {
  margin-bottom: 0 !important;
}

#topics-content {
  margin-bottom: 380px;
}

/* box shadow */
.shadow {
  -webkit-box-shadow: 3px 3px 11px 0px rgba(56, 50, 50, 0.45);
  -moz-box-shadow: 3px 3px 11px 0px rgba(56, 50, 50, 0.45);
  box-shadow: 4px 3px 11px 0px rgba(59, 59, 59, 0.75) !important;
}

#skeletor {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.glitch {
  font-size: 5rem;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;

  text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

  animation: glitch 500ms infinite;
}


@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }

  14% {
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
      -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }

  15% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  49% {
    text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
      0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
      -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  50% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  99% {
    text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
      0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }

  100% {
    text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
      -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

.typewritercontainer {

  padding-top: 5em;
  display: flex;
  /* justify-content: center; */

}

.css-typing {
  color: black;
  padding-bottom: 50px;
  padding-top: 100px;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.text {
  padding-top: 20px;
  padding-bottom: 20px;
}

.buttoncontainer {
  position: fixed;
  top: 50%;
  left: 50%;
}

#logout-btn {
  color: #873cdd;
  margin-right: 20px;
}