
a,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  color: #c62f2c;
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #c62f2c;
}

#container-box {
  margin: 50px 0px;
}
#left-box {
  min-width: 290px;
}

#navbar,
#masthead,
#footer,
.ui.menu.fixed {
  background-color: #ffffff;
}

#navbar,
.ui.secondary.pointing.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 10 !important;
  background-color: #ffffff;
}

.ui.menu.fixed {
  background-color: #ffffff !important;
}

.ui.center.aligned.header {
  color: #fdfdfd;
}
.ui.segment {
  background-color: #ffffff;
}

.ui.inverted.button {
  background-color: #c62f2c;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.ui.inverted.segment .segment {
  color: #b6abb7;
}

/* SWIPER CSS */

.swiper-container {
  height: 700px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffffff;

  /* SWIPER Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide .swiper-slide-active {
  max-width: 800px;
  max-height: 100%;
}
#carousel {
  min-width: 100%;
  object-fit: contain;
}

/* LOGO ICON */
.fab {
  color: #c62f2c;
  font-size: 50px;
}
.ui .card {
  width: 100%;
  text-align: left;
  background-color: #fdfdfd !important;
}
.fa-window-close {
  color: #c62f2c;
}
.fa-window-close:hover {
  color: #c62f2c;
  cursor: pointer;
  transform: scale(1.1);
}
#logo-nav {
  padding-right: 15px;
}
#logo-nav:hover {
  color: #fdfdfd;
}
#logo-follow {
  padding-right: 15px;
}
#logo-follow:hover {
  color: #b6abb7;
}

/* PROFILE IMAGE */
.profile-img {
  max-width: 100%;
  padding-bottom: 50px;
}
/* Right Box city image */
#right-box-img-container {
  height: 200px;
  display: flex;
  overflow: hidden;
}

#city-img {
  overflow: hidden;
  display: flex;
  border-radius: 2%;
}
#city-img img {
  width: 100%;
  align-items: center;
  align-self: center;
}
/* Thumbnail city image */
#thumb-container {
  height: 80px;
  display: flex;
  overflow: hidden;
}
#city-thumb {
  overflow: hidden;
  display: flex;
  border-radius: 2%;
  margin: 3px;
}
#city-thumb img {
  width: 100%;
  align-items: center;
  align-self: center;
}

#create_post {
  margin: 20px;
}
#city-name-banner {
  min-width: 150px;
}

.pusher {
  background-color: #ffffff !important;
  margin-bottom: 140px;
}
#masthead {
  margin-bottom: 140px;
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
@media only screen and (max-width: 770px) {
  #masthead {
    margin-bottom: 380px;
  }
}

.topics {
  background-color: #fdfdfd !important;
}

#wayfarer-title {
  margin-bottom: 0 !important;
}

#topics-content {
  margin-bottom: 380px;
}

/* box shadow */
.shadow {
  -webkit-box-shadow: 3px 3px 11px 0px rgba(56, 50, 50, 0.45);
  -moz-box-shadow: 3px 3px 11px 0px rgba(56, 50, 50, 0.45);
  box-shadow: 4px 3px 11px 0px rgba(59, 59, 59, 0.75) !important;
}