{% extends 'base.html' %}
{% block content %}

<div class="ui text container">
    <div class="ui two column centered grid">
        <div id="skeletor containerneon">

            <p class="neon"> <a>
              WELCOME
            </a>
            </p>

        <div class="typewritercontainer">
            <div class="css-typing"></div>
        </div>
    </div>
    </div>

    <div class="guess">
    <form action="{% url 'guess_handle' %}" method="POST" id="home-guess">
        {% csrf_token %}
        <div class="field guess-box">
            <input type="text" placeholder="Passcode" name="guess" required />
          </div>
        <button class="ui button guess-btn" type="submit">Submit</button>
    </form>
</div>


    
    
    
    {% endblock %}
    