{% extends 'base.html' %}
{% block content %}

<div class="ui text container">
    <div class="ui two column centered grid">
        <div class="ui hidden section divider"></div>
        <div class="ui hidden section divider"></div>

        <div id="skeletor containerneon">

            <p class="neon"> <a>
              RAGE
            </a>
            </p>
        <a href="{% url 'barcode1' %}">

        <div class="typewritercontainer">
            <div class="css-typing1"></div>
        </div>
    </a>
    </div>
    </a>
    </div>

    <div class="guess">
        <form action="{% url 'guess_handle' %}" method="POST" id="home-guess">
            {% csrf_token %}
            <div class="field guess-box">
                <input type="text" placeholder="Passcode" name="guess" required />
              </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
    
    {% endblock %}
    