{% extends 'base.html' %}
{% block content %}


<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><img id="carousel" src="static/resources/2t3vhzhmyzl31.png" alt="london nightlife"></div>
        <div class="swiper-slide"><img id="carousel" src="static/resources/2CmhXy.webp" alt="london nightlife"></div>
        <div class="swiper-slide"><img id="carousel" src="static/resources/san-francisco-at-night.jpg" alt="san fran nightlife"></div>
        <div class="swiper-slide"><img id="carousel" src="static/resources/15665050049_14615cb9bf_o.jpg" alt="seattle nightlife"></div>
        <div class="swiper-slide"><img id="carousel" src="static/resources/image.jpg" alt="sydney nightlife"></div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>

  {% comment %} SWIPER INIT {% endcomment %}
  <script>
    var swiper = new Swiper('.swiper-container', {
      spaceBetween: 30,
      centeredSlides: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });
</script>


</div>
</div>

<h1 class="topics" id="wayfarer-title" align="center" >Wayfarer is...</h1>
<div id="topics-content"class="ui vertical stripe quote segment topics">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">

      {% comment %} Column 1 {% endcomment %}
      <div class="column">
        <h3>"TOPIC"</h3>
        <p>Bacon ipsum dolor amet kevin boudin chuck bacon, pig turkey cupim tail doner short ribs tri-tip. Turducken ribeye ball tip, prosciutto brisket sirloin flank. Boudin filet mignon ball tip drumstick picanha. Jowl ribeye bacon, chicken kielbasa spare ribs sausage.

Chicken bacon alcatra, drumstick tenderloin ground round brisket. Short ribs biltong burgdoggen shank pancetta ribeye sirloin kielbasa bresaola. Boudin ribeye pork loin, meatloaf spare ribs shoulder strip steak pig. Ham meatball kielbasa pork loin. Beef ribs ham hock rump frankfurter tenderloin t-bone, sausage bacon shankle. T-bone pancetta ball tip jowl, spare ribs rump picanha ham shankle shoulder tri-tip pig turkey.</p>
      </div>

      {% comment %} Column 2 {% endcomment %}
      <div class="column">
        <h3>"TOPIC"</h3>
        <p>Bacon ipsum dolor amet kevin boudin chuck bacon, pig turkey cupim tail doner short ribs tri-tip. Turducken ribeye ball tip, prosciutto brisket sirloin flank. Boudin filet mignon ball tip drumstick picanha. Jowl ribeye bacon, chicken kielbasa spare ribs sausage.

Chicken bacon alcatra, drumstick tenderloin ground round brisket. Short ribs biltong burgdoggen shank pancetta ribeye sirloin kielbasa bresaola. Boudin ribeye pork loin, meatloaf spare ribs shoulder strip steak pig. Ham meatball kielbasa pork loin. Beef ribs ham hock rump frankfurter tenderloin t-bone, sausage bacon shankle. T-bone pancetta ball tip jowl, spare ribs rump picanha ham shankle shoulder tri-tip pig turkey.</p>
      </div>

      {% comment %} Column 3 {% endcomment %}
      <div class="column">
        <h3>"TOPIC"</h3>
        <p>Bacon ipsum dolor amet kevin boudin chuck bacon, pig turkey cupim tail doner short ribs tri-tip. Turducken ribeye ball tip, prosciutto brisket sirloin flank. Boudin filet mignon ball tip drumstick picanha. Jowl ribeye bacon, chicken kielbasa spare ribs sausage.

Chicken bacon alcatra, drumstick tenderloin ground round brisket. Short ribs biltong burgdoggen shank pancetta ribeye sirloin kielbasa bresaola. Boudin ribeye pork loin, meatloaf spare ribs shoulder strip steak pig. Ham meatball kielbasa pork loin. Beef ribs ham hock rump frankfurter tenderloin t-bone, sausage bacon shankle. T-bone pancetta ball tip jowl, spare ribs rump picanha ham shankle shoulder tri-tip pig turkey.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}