
<div id="container-box" class="ui center aligned stackable grid container">
  <div id="left-box" class="four wide computer three wide tablet six wide mobile column">


    <h3 class="ui center aligned header">{{ user.first_name}} {{user.last_name}}</h3>




      {% comment %} User info {% endcomment %}
      <p>Date Joined: {{ user.date_joined }}</p>
      <p> Email: {{ user.email }}</p>
      <p>Current City: {{ profile.current_city }}</p>
      {% if profile != "" %}
      <a href="{% url 'profile_edit' %}" class="ui inverted button">Edit Profile</a>
      {% endif %}
    </div>

    {% if profile == "" %}
    <form action="{% url 'profile' %}" method="POST">
      {% csrf_token %}
      {{profile_form.as_p}}
      <input class='ui inverted button' type="submit" value='Add Current City'>
    </form>
    {% endif %}
  </div>

  <div id="right-box" class="nine wide computer nine wide tablet six wide mobile column">
    <h3 class="ui center aligned header">Posts</h3>
    {% for post in posts %}
    <div class="ui segment">
      <a href="{% url 'post_show' post_id=post.id %}">
        <p>{{ post.title }}</p>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

</div>

{% endblock %}