{% extends 'base.html' %}
{% block content %}

<div id="container-box" class="ui center aligned stackable grid container">
  <div id="left-box" class="four wide computer three wide tablet six wide mobile column profile">


    <h3 class="ui center aligned header profile">{{ profile.user.first_name}} {{profile.user.last_name}}</h3>




    {% comment %} User info {% endcomment %}
    <p>Date Joined: {{ profile.user.date_joined }}</p>
    <p> Email: {{ profile.user.email }}</p>
    <a id="edit_modal" class="ui inverted button">Edit User</a>

  </div>



</div>

<div id="right-box" class="nine wide computer nine wide tablet six wide mobile column">
  <h3 class="ui center aligned header">Posts</h3>
  <a id="post_modal" class="ui inverted button">Add Post</a>
  {% for post in posts %}
  <div class="ui card">
    <div class="content">
      {% if user == post.user %}
      <i id="{{post.id}}" class="right floated far fa-window-close delete_modal"></i>
      {% endif %}
      <div class="header">
      </div>
      <div class="description">
        <p>{{ post.body }}</p>
        <div class="extra content">
          <div class="right floated author">
          </div>
        </div>
      </div>
    </div>
  </div>

  {% comment %} EDIT MODAL {% endcomment %}
  <div class="ui modal edit">
    <i class="close icon"></i>
    <div class="header">New Post</div>
    <div class="content">
      <form method="POST" action="{% url 'user_edit' profile_id=profile.id %}">
        {% csrf_token %} {% comment %} NEW SEMANTIC FORM {% endcomment %}
        <div class="ui equal width form error">
          <div class="field">
            <label>First Name</label>
            <input type="text" placeholder="First Name" name="first_name" required />
          </div>
          <div class="field">
            <label>Last Name</label>
            <input type="text" placeholder="Last Name" name="last_name" required />
          </div>
        </div>
        {% if error_message %}
        <div class="ui error message">
          <div class="header">Action Forbidden</div>
          <p>{{error_message}}</p>
        </div>
        {% endif %}
        <div id="edit_user" class="actions">
          <input type="submit" class="ui inverted button" value="Edit User" />
        </div>
      </form>
    </div>
  </div>

  {% comment %} DELETE MODAL {% endcomment %}
  <div id="modal-{{ post.id }}" class="ui modal delete">
    <i class="close icon"></i>
    <div class="header">
      Are you sure you want to delete: {{post.title}}?
    </div>
    <div class="content">
      <a href="{% url 'post_delete' post_id=post.id %}?next={{next}}" class="ui inverted button">Confirm Delete</a>
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </div>

  {% endfor %}
</div>
</div>
</div>

{% comment %} POST MODAL {% endcomment %}
<div class="ui modal post">
  <i class="close icon"></i>
  <div class="header">New Post</div>
  <div class="content">
    <form method="POST" action="{% url 'post_create' profile_id=profile.id %}">
      {% csrf_token %} {% comment %} NEW SEMANTIC FORM {% endcomment %}
      <div class="ui equal width form error">
        <div class="field">
          <label>Title</label>
          <input type="text" placeholder="Title" name="title" required />
        </div>
        <div class="field">
          <label>Content</label>
          <textarea cols="40" rows="10" name="body" required></textarea>
        </div>
      </div>
      {% if error_message %}
      <div class="ui error message">
        <div class="header">Action Forbidden</div>
        <p>{{error_message}}</p>
      </div>
      {% endif %}
      <div id="create_post" class="actions">
        <input type="submit" class="ui inverted button" value="Create Post" />
      </div>
    </form>
  </div>
</div>

{% endblock %}